<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form name="f" method="POST" action="/process_login">
    <label for="username" style="color: #4a5560">Enter your name: </label>
    <input type="text" name="username" id="username">
    <br>
    <label for="surname" style="color: #4a5560">Enter your surname: </label>
    <input type="text" name="surname" id="surname">
    <br>
    <label for="password" style="color: #4a5560">Enter your password: </label>
    <input type="password" name="password" id="password">
    <br>
    <input type="submit" VALUE="Submit">

    <div th:if="${param.error}" style="color: #100809">
        Неправильное имя или пароль
    </div>

</form>

<br>
<a th:href="@{/auth/registration}">Registration page</a>

</body>
</html>