<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/users/id(id=${user.getId()})}" th:object="${user}">
    <label for="username">Edit name: </label>
    <input type="text" th:field="*{username}" id="username">
        <label for="surname">Edit surname: </label>
        <input type="text" th:field="*{surname}" id="surname">
    <label for="age">Edit age: </label>
    <input type="text" th:field="*{age}" id="age">
        <label for="password">Edit password: </label>
        <input type="text" th:field="*{password}" id="password">
    <br>

    <label for="ADMIN">Admin</label>
    <input type="checkbox" th:field="*{ROLE}" id="ADMIN" name="ADMIN" th:value="ROLE_ADMIN">
    <br>
    <label for="USER">User</label>
    <input type="checkbox" th:field="*{ROLE}" id="USER" name="USER" th:value="ROLE_USER">
    <br>

    <input type="submit" VALUE="Update user">
</form>

</body>
</html>