<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>

<div>
    <label>Ваш ID:</label>
    <span th:text="${user.getId()}"></span>
</div>

<div>
    <label>Ваша роль:</label>
    <span th:text="${user.getROLE()}"></span>
</div>

<div>
    <label>Ваше имя:</label>
    <span th:text="${user.getUsername}"></span>
</div>

<div>
    <label>Ваша фамилия:</label>
    <span th:text="${user.getSurname}"></span>
</div>

<div>
    <label>Ваш возраст:</label>
    <span th:text="${user.getAge}"></span>
</div>

<br>
    <a href="/logout">Logout</a>




<!--<li th:each="user : ${users}">-->
<!--    <span th:text="${user.name}">User</span> - <span th:text="${user.surname}">User</span>-->
<!--    - <span th:text="${user.id}">User</span>-->
<!--</li>-->

</body>
</html>